$text-prinary: white;
$text-secondary: #C3C4C9;
$text-primary-modal: white;
$text-secondary-modal: white;
$body-bkgrd: white;
$card-bkgrd: white;
$modal-bkgrd: rgba(94, 93, 92, 0.96);
$border: 1px solid #FB9324;