.loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
    font-size: 1.6em;
    font-weight: 600;
}
.error {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 1.6em;
    font-weight: 600;
}