.form {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-self: center;
}

.field {
    display: flex;
    justify-content: center;
    gap: 1em;
    width: 100%;
}

.searchText {
    display: flex;
    width: 80%;
    height: 26px;
    border: 1px solid #FB9324;
    border-radius: 4px;
}

.searchImg {
    width: 25px;
}

// .errorWarning {
//     border: 1px solid red;
//     border-radius: 8px;
//     color: red;
// }