.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 90%;
        border: 1px solid orange;
        border-radius: 6px;
        padding: 20px 10px;
        gap: 10px;
        margin: 10px;
        .title {
            display: flex;
            flex-direction: column;
            align-self: center;
            color: orange;
            font-size: 1.4em;
        }
        .authors {
            display: flex;
            flex-direction: column;
            align-self: center;
            color: orange;
            font-size: 1em;
            .author {
                display: flex;
            }
        }
        
        .description {
            font-size: 1em;
            width: 80%;
            text-align: justify;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 10;
            overflow: hidden;
        }
        .image {
            width: 80%;
        }
    }
}


/**
.content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
*/